#code .string{
    color:#2a36ff
}
#code .keyword{
    color:#7f0055;
    font-weight:bold
}
#code .placeholder{
    margin-left:15px
}
#code .space{
    margin-left:7px
}
#code .comments{
    color:#21b36a
}